<div class="container">
    <div class="buttons">
        <div class="buttons-group">
            <cb-image-control-button class="button" (onClick)="handleSpeedControlClick(playStatusType.Stop)" [isActive]="playStatus === playStatusType.Stop" pathToImage="../../../../../assets/svg/stop.svg"></cb-image-control-button>
            <cb-image-control-button class="button" (onClick)="handleSpeedControlClick(playStatusType.FirstSpeed)" [isActive]="playStatus === playStatusType.FirstSpeed" pathToImage="../../../../../assets/svg/firstSpeed.svg"></cb-image-control-button>
            <cb-image-control-button class="button" (onClick)="handleSpeedControlClick(playStatusType.SecondSpeed)" [isActive]="playStatus === playStatusType.SecondSpeed" pathToImage="../../../../../assets/svg/secondSpeed.svg"></cb-image-control-button>
            <cb-image-control-button class="button" (onClick)="handleSpeedControlClick(playStatusType.ThirdSpeed)" [isActive]="playStatus === playStatusType.ThirdSpeed" pathToImage="../../../../../assets/svg/thirdSpeed.svg"></cb-image-control-button>    
        </div>
        <div class="buttons-group">
            <cb-color-control-button class="button" (onClick)="handleColorControlClick(cellTypesType.Empty)" [isActive]="activeCellType === cellTypesType.Empty" [color]="'gray'"></cb-color-control-button>
            <cb-color-control-button class="button" (onClick)="handleColorControlClick(cellTypesType.Conductor)" [isActive]="activeCellType === cellTypesType.Conductor" [color]="'yellow'"></cb-color-control-button>
            <cb-color-control-button class="button" (onClick)="handleColorControlClick(cellTypesType.Head)" [isActive]="activeCellType === cellTypesType.Head"  [color]="'blue'"></cb-color-control-button>
            <cb-color-control-button class="button" (onClick)="handleColorControlClick(cellTypesType.Tail)" [isActive]="activeCellType === cellTypesType.Tail"  [color]="'red'"></cb-color-control-button>    
        </div>
    </div>
    <div class="grid-wrapper">
        <cb-grid [width]="width" [height]="height" #grid (onCellDown)="onCellDown($event)" [drawGrid]="true"></cb-grid>
    </div>
</div>