.grid-wrapper{
    width: 50vw;
    height: 50vh;
    border: 1px solid black;
}
.container{
    max-width: 80vw;
    width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
    height: calc(100% - 2rem);
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards-container{
    height: inherit;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}