.header {
    width: 100%;
    height: 4rem;
    box-shadow: 0 0 2rem rgba(88, 40, 65, 0.1);
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.content-wrapper{
    max-width: 90vw;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}