.container{
    width: 15rem;
    height: 12rem;
    box-shadow: 0 0 2rem rgba(88, 40, 65, 0.2);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    &:hover{
        box-shadow: 0 0 3rem rgba(88, 40, 65, 0.3);
        transition: .1s linear;
        cursor: pointer;
    }
}
.header-text{
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
    user-select: none;
}
.add{
    width: 50%;
    user-select: none;
}