@use '../../../../../assets/scss/partials/colors';

.wrapper{
    user-select: none;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    height: 100%;
    flex: 0 0 auto;
}
.logo{
    margin-right: 2rem;
    max-height: 100%;
    height: 100%;
}
.text{
    text-transform: uppercase;
    height: auto;
    font-weight: bold;
    font-size: 1.4rem;
}
.dark-mode__text{
    color: colors.$lightText;
}