@use '../../../../../assets/scss/partials/colors';

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    cursor: pointer;
    position: relative;
    margin: 0 .75rem;
}
.input {
    -webkit-appearance: none;
    -moz-appearance: none;
}
.bg {
    height: 1rem;
    width: 2rem;
    border-radius: 0.5rem;
    background-color: rgba(colors.$darkBg, 0.5);
    display: inline-block;
    transition: background-color 100ms linear;
}
.circle {
    height: 1.30rem;
    width: 1.30rem;
    background-color: colors.$secondary;
    position: absolute;
    top: -0.15em;
    border-radius: 50%;
    box-shadow: 0 0 0 rgba(colors.$secondary, 0.5);
    left: -.375rem;
}
.circle-checked {
    background-color: colors.$lightBg;
    left: 1.3rem;
}
.bg-checked {
    background-color: colors.$lightPrimary;
}
.text {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
.dark-mode__text{
    color: colors.$lightText;
}