<div class="wrapper">
    <div [ngClass]="{'dark-mode__text': darkModeService.isDarkMode}" class="text">Light</div>
    <label class="container">
        <input #input (click)="modeToggleSwitch()" type="checkbox" class="input" />
        <span [ngClass]="{'bg-checked': darkModeService.isDarkMode}" class="bg"></span>
        <span [ngClass]="{'circle-checked': darkModeService.isDarkMode}" class="circle"></span>
    </label>
    <div [ngClass]="{'dark-mode__text': darkModeService.isDarkMode}" class="text">Dark</div>
</div>