@use '../../../../assets/scss/partials/colors';

.grid-wrapper{
    max-height: 100%;
    width: 100%;
    border: .1rem solid colors.$darkBg;
    border-radius: .5rem;
    margin-top: 1rem;
}
.dark-mode__grid-wrapper{
    border: .1rem solid colors.$lightBg;
}
.buttons{
    display: flex;
    justify-content: space-around;
}
.buttons-group{
    display: flex;
    justify-content: center;
}
.button{
    margin-left: 1rem;
    &:first-child{
        margin-left: 0;
    }
}